body{
  background: rgb(255, 255, 255);
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.app-header{
  margin: 30px, 0;
}

.images {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer{
  text-align: center;
    font-size: 11px;
    margin: 10px 0;
  
}