.Phonetics { 
    height: 50px;
}


.Phonetics span{
text-decoration: none;
padding: 10px 20 px;
font-weight: bold;
transition: all 150ms ease-in-out;
margin-right: 20px;
}

.Phonetics span:hover {
    background: purple;
    color: white;
    cursor: pointer;
}